Source: iotivity
Section: libs
Priority: optional
Maintainer: Chanho Park <chanho61.park@samsung.com>, Inho Oh <inho48.oh@samsung.com>
Build-Depends: debhelper (>=9),
	libboost-dev,
	libboost-thread-dev,
	libcurl4-openssl-dev,
	libglib2.0-dev,
	uuid-dev,
	scons:all,
	libsqlite3-dev,
	unzip,
	autoconf,
	automake,
	libtool,
	chrpath
Standards-Version: 3.9.6
Homepage: https://www.iotivity.org/
Vcs-Git: https://github.com/SamsungARTIK/iotivity.git
Vcs-Browser: https://github.com/SamsungARTIK/iotivity

Package: iotivity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IoTivity is an open source software framework enabling seamless device-to-device connectivity to address the emerging needs of the Internet of Things.

Package: iotivity-dev
Architecture: any
Depends: iotivity
Description: IoTivity is an open source software framework enabling seamless device-to-device connectivity to address the emerging needs of the Internet of Things. - Development files

Package: iotivity-service
Architecture: any
Depends: iotivity
Description: IoTivity is an open source software framework enabling seamless device-to-device connectivity to address the emerging needs of the Internet of Things. - Service layer libraries

Package: iotivity-test
Architecture: any
Depends: iotivity
Description: IoTivity is an open source software framework enabling seamless device-to-device connectivity to address the emerging needs of the Internet of Things. - Examples

Package: iotivity-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IoTivity is an open source software framework enabling seamless device-to-device connectivity to address the emerging needs of the Internet of Things. - Debug symbols

